.profile {
    margin: 20px auto;
    width: 75%;
    border: 1px solid lightgray;
    box-shadow: inset 0 0 10px lightgray;
    padding: 20px 20px;
}

.profile h3 {
    margin: 20px 0;
}

.profile h4 {
    margin: 20px 0;
}

.profile p {
    font-style: italic
}


.profile-header {
    display: flex;
    align-items: baseline;
}

.profile-header h4 {
    margin-right: 1%;
}

.profile-header button {
    margin-left: 40%;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    background: #BD10E0;
    color: white;
    opacity: 0.5;
}

.profile-header button:hover {
    opacity: 1;
}

.top-info {
    display: flex;
}

.edit-user-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 24px;
    margin: 20px auto;
}

.edit-user-form input {
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 1px solid lightgray;
    padding: 10px;
    font-weight: bold;
}

.edit-user-form textarea {
    font-size: 16px;
    margin-bottom: 10px;
    height: 100px;
    border: 1px solid lightgray;
}

.edit-user-form label {
    margin: 10px 0 8px 0;
    font-weight: bold;
    color: #661FFF;
    opacity: 1;
    padding-left: 3px;
}

.editing-user {
    width: 60%;
    margin: 20px auto;
    border: 1px solid lightgray;
    box-shadow: 5px 5px lightgray;
}

.profile-container {
    display: flex;
}

.profile-picture {
    height: 100%;
    width: 20%;
}

.profile-picture img {
    max-width: 100%;
    height: auto;
    border-radius: 100px;
}

.profile-info {
    width: 60%;
    margin-left: 5%;
}

.edit-profile-btn {
    margin-left: 10%;
}

.edit-profile-btn button {
    background: #BD10E0;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    cursor: pointer;
}


.edit-profile-btn button:hover {
    background: #F5A623;
}

.save-changes {
    width: 100%;
    margin: 10px auto;
    text-align: center;
}

.save-changes button {
    font-size: 20px;
    background: #F5A623;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    opacity: 0.5;
    margin-bottom: 20px;
}

.save-changes button:hover {
    opacity: 1;
}

