.profile {
    margin: 20px auto;
    width: 80%;
    border: 1px solid lightgray;
    box-shadow: 5px 5px lightgray;
    padding: 20px 20px;
}

.profile h3 {
    margin: 20px 0;
}

.profile h4 {
    margin: 20px 0;
}

.profile p {
    font-style: italic
}


.profile-header {
    display: flex;
    align-items: baseline;
}

.profile-header h4 {
    margin-right: 1%;
}

.profile-header button {
    margin-left: 25%;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 5px 20px;
    background: #BD10E0;
    color: white;
}



.edit-user-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 20px auto;
}

.edit-user-btns {
    width: 50%;
    margin: 10px auto;
    display: flex;
    justify-content: space-evenly;
}

.edit-user-form label {
    margin: 10px 0 5px 0;
}