.trips-list {
    display: block;
    width: 80%;
    margin: 30px auto;
}

.trips-list table {
    width: 100%;
}

.trips-list table, .trips-list th, .trips-list td {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}



.trips-list table img {
    width: 100px;
    height: 80px;
}


.profile {
    margin: 20px auto;
}

.profile h3 {
    margin: 20px 0;
}

.profile h4 {
    margin: 20px 0;
}

.profile p {
    font-style: italic
}

.trips-title {
    display: block;
    font-size: 40px;
    margin-right: 10px;
}

.profile-header {
    display: flex;
    align-items: baseline;
}

.profile-header h4 {
    margin-right: 5px;
    font-style: italic;
}

.profile-header button {
    margin-left: 20px;
}

.edit-user-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 20px auto;
}

.edit-user-form label {
    margin: 10px 0 5px 0;
}

.edit-user-form button {
    margin-top: 10px;
}

.add-trip-form {
    display: flex;
    flex-direction: column;
}

.add-trip-form label {
    margin: 10px 0 5px 0;
}

.add-trip-form button {
    margin: 30px 0 50px 0;
}

.toggler-btn {
    margin: 30px 0;
}