.trips-list {
    display: flex;
    flex-wrap: wrap;
}

.profile {
    margin: 20px auto;
}

.profile h3 {
    margin: 20px 0;
}

.profile h4 {
    margin: 20px 0;
}

.profile p {
    font-style: italic
}

.trips-title {
    display: block;
    font-size: 40px;
    margin-right: 10px;
}

.profile-header {
    display: flex;
    align-items: baseline;
}

.profile-header h4 {
    margin-right: 5px;
    font-style: italic;
}

.profile-header button {
    margin-left: 20px;
}

.edit-user-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 20px auto;
}

.edit-user-form label {
    margin: 10px 0 5px 0;
}