.login-forms {
    display: flex;
    width: 80%;
    margin: 50px auto;
    justify-content: space-evenly;
}

.login-forms form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.login-forms input {
    margin: 10px 0;
    width: 100%;
    font-size: 20px;
}

.login-forms button {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #661FFF;
    font-size: 30px;
    color: white;
    border-radius: 60px;
    cursor: pointer;
}

.login-forms button:hover {
    background: #F5A623;
}

.login-header {
    text-align: center;
    margin: 30px auto;
    width: 80%;
}

.login-header img {
    max-width: 100%;
}

.login-header h3 {
    font-size: 30px;
}

