.login-forms {
    display: flex;
    width: 50%;
    margin: 100px auto;
    justify-content: space-evenly;
}

.login-forms form {
    display: flex;
    flex-direction: column;
}

.login-forms input {
    margin: 5px 0;
}

.login-forms button {
    width: 100%;
    margin-top: 10px;
}