.trip {
    width: 75%;
    margin: 30px auto;
    border: 1px solid lightgray;
    box-shadow: inset 0 0 10px lightgray;
    padding: 2%;
    text-align: center;
}

.trip h3 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #661FFF;
}

.trip h4 {
    margin-bottom: 20px;
    font-style: italic;
}

.trip h5 {
    margin-bottom: 20px;
}

.trip-image {
    text-align: center;
}

.trip img {
    width: 75%;
    height: auto;
}

.edit-trip-form {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    box-shadow: 3px 3px lightgray;
    padding: 2%
}

.edit-trip-form label {
    margin: 10px 0 5px 0;
    font-weight: bold;
    color: #661FFF;
    opacity: 1;
    padding-left: 3px;
}

.edit-trip-form input {
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 1px solid lightgray;
    padding: 10px;
    font-weight: bold;
}

.edit-trip-form select {
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 1px solid lightgray;
    padding: 10px;
    font-weight: bold;
}

.edit-trip-btn-container {
    display: flex;
    width: 50%;
    margin: 20px auto;
    justify-content: space-evenly;
}

.save-edits {
    margin: 30px 0 50px 0;
    font-size: 20px;
    background: #F5A623;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    opacity: 0.75;
    margin-bottom: 20px;
}

.save-edits:hover {
    opacity: 1
}

.cancel-edits {
    margin: 30px 0 50px 0;
    font-size: 20px;
    background: red;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    opacity: 0.75;
    margin-bottom: 20px;
}

.cancel-edits:hover {
    opacity: 1
}

.edit-trip-btns {
    display: flex; 
    width: 80%;
    margin: 20px auto;
    justify-content: space-evenly;
}

.edit-trip-btns button {
    border: none;
    border-radius: 50px;
    font-size: 20px;
    padding: 5px 20px;
}

.delete-trip {
    background: lightcoral;
    color: white;
}

.delete-trip:hover {
    background: red
}

.edit-trip {
    background: #F5A623;;
    color: white;
    opacity: .5;
}

.edit-trip:hover {
    opacity: 1;
}

.route-trips {
    background: black;
    color: white;
    opacity: 0.5;
}

.route-trips:hover {
    opacity: 0.75;
}

.edit-trip-loader {
    text-align: center;
}

